html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden; /* prevents scrolling */
}

.adhd-panel {
  display: flex;
  height: 100vh; /* will take full view height */
  width: 100vw; /* will take full view width */
}

.side-menu {
  width: 100%; /* will take full width of .adhd-panel */
  height: 100%; /* will take full height of .adhd-panel */
  background-color: lightgray;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* no margins for full window width */
  height: 100%; /* will take full height of .side-menu */
}

.side-menu li {
  padding: 10px;
  box-sizing: border-box; /* will include padding and border into width and height values */
}

.side-menu li a {
  text-decoration: none;
}

.content {
  width: 0; /* to hide content when side panel is open */
  overflow: hidden; /* will prevent viewing content when side panel is open */
}
